body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
    font-family: 'Roboto', sans-serif;
    height:100vh;
}
.img{
    width: 90px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:40px;
    z-index: 2;
}
.clock{
    margin:10px;
    position: relative;
    background-color:lightgray;
    width: 300px;
    height: 300px;
    border-radius:50%;
    border: 5px solid darkgray;
    box-shadow:1px 1px 4px rgbaa(0,0,0,.3)
}
.numbers div{
    position:absolute;
    font-size: 27px;
    font-weight: bold;
    color: lightgoldenrodyellow;
    text-shadow:1px 1px 2px rgba(0,0,0,.7);
}
.twelve{
    top:6px;
    left:50%;
    transform:translateX(-50%);
}
.one{
    top:30px;
    right:70px;
    transform: translateY(-17%)
}
.three{
    right:6px;
    top:50%;
    transform:translateY(-50%);
}
.nine{
    left:6px;
    top:50%;
    transform: translateY(-50%)
}
.six{
    bottom:6px;
    left:50%;
    transform:translateX(-50%);
}

.arrows{
    display: flex;
    width: 100%;
    height:100%;
    justify-content:center;
    align-items:center;
}
.arrows::before{
    content: "";
    width:25px;
    height:25px;
    background-color:black;
    border-radius:50%;
    box-shadow:1px 1px 2px rgba(0,0,0,.7);
    z-index:4;
}
.arrows div{
    background-color:white;
    width:7px;
    position:absolute;
    height:120px;
    transform-origin:bottom center;
    bottom:50%;
    z-index:3;
    border-radius:50% 50% 0 0;
    box-shadow:1px 1px 2px rgba(0,0,0,.7);
}
.arrows .hour{
    height:80px;
    transform:rotate(30deg);
}
.arrows .minute{
height:100px;
}
.arrows .second{
    background-color: yellow;
    transform:rotate(250deg);
}